h1{
    text-align: left;
}



.navbar{
    background-image: url("resource/nav background.jpeg");
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.nav{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    border-style: outset ;
    margin-inline-end: 30px;
    
    
}
li{
    color: white;
}
body{
    background-color: #2f302f;
}